body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #D3CEDF;
}

header {
    text-align: center;
    height: 40px;
}

footer {
    position: absolute;
    background-color: #9CB4CC;
    width: 100%;
    min-height: 40px;
    text-align: center;
    left: 0;
    bottom: 0;
}

.the-game {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    font-size: 150%;
}

.choicebtn {
    display: inline-block;
    width: 90px;
    height: 50px;
    margin: 2px;
    background-color: #748DA6;
    color: #F2D7D9;
    border-radius: 50%;
}

.choicebtn:hover {
    background-color: #D3CEDF;
    color: #748DA6;
}

.scores {
    text-align: center;
    padding: 3px;
}

#reset {
    width: 70px;
    height: 30px;
    margin: 2px;
    background-color: #748DA6;
    color: #D3CEDF;
}

#reset:hover {
    background-color: #D3CEDF;
    color: #748DA6;
}

.user {
    background-color: aquamarine;
    float: left;
    width: 45%;
}

#user-img {
    width: 75%;
}

.computer {
    background-color: pink;
    float: right;
    width: 45%;
}

#comp-img {
    width: 75%;
}

#message {
    height: 20px;
}