html {
    position: relative;
    min-height: 100%;
    overflow: scroll;
}
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #F5EDDC;
}

header {
    text-align: center;
    min-height: 40px;
    background-color: #A2B5BB;
    padding: 2px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #A2B5BB;
    width: 100%;
    min-height: 45px;
    text-align: center;
    font-size: 120%;
    padding-top: 5px;
    box-sizing: border-box;
}

#footerarea {
    padding-top:30px;
}

.the-game {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 140%;
    position: relative;
}

.choicebtn {
    display: inline-block;
    width: 90px;
    height: 80px;
    margin: 2px;
    background-color: #EB1D36;
    color: #CFD2CF;
    border-radius: 50%;
    border-color: #EB1D36;
}

.choicebtn:hover {
    background-color: #CFD2CF;
    color: #EB1D36;
}

.userscores {
    text-align: center;
    height: 
}
.compscores {
    text-align: center;
}

#reset {
    width: 70px;
    height: 40px;
    margin: 2px;
    background-color: #EB1D36;
    color: #CFD2CF;
    border-color: #A2B5BB;
}

#reset:hover {
    background-color: #CFD2CF;
    color: #EB1D36;
    border-color: #EB1D36;
}

.user {
    background-color: #CFD2CF;
    float: left;
    width: 45%;
    border: 5px solid;
    border-color: #A2B5BB;
    padding: 3px;
    margin-bottom: 50px;
}

#user-img {
    width: 50%;
    height: 40%;
}

.computer {
    background-color: #CFD2CF;
    float: right;
    width: 45%;
    border: 5px solid;
    border-color: #A2B5BB;
    padding: 3px;
    margin-bottom: 50px;
}

#comp-img {
    width: 50%;
    height: 40%;
}

#messages {
    min-height: 20px;
    width: ;
    display: ;
}

#messages > p {
    display: inline-grid;
    padding: 5px;
    margin: 2px;
}

@media screen and (max-width: 450px) {
    .user, .computer {
        font-size: 65%;
    }

}