body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #F5EDDC;
}

header {
    text-align: center;
    min-height: 40px;
    background-color: #A2B5BB;
    padding: 2px;
    text-align: center;
}

footer {
    position: absolute;
    background-color: #A2B5BB;
    width: 100%;
    height: 45px;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 120%;
}

.the-game {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    font-size: 140%;
}

.choicebtn {
    display: inline-block;
    width: 90px;
    height: 80px;
    margin: 2px;
    background-color: #EB1D36;
    color: #CFD2CF;
    border-radius: 50%;
    border-color: #EB1D36;
}

.choicebtn:hover {
    background-color: #CFD2CF;
    color: #EB1D36;
}

.scores {
    text-align: center;
    padding: 3px;
}

#reset {
    width: 80px;
    height: 50px;
    margin: 2px;
    background-color: #EB1D36;
    color: #CFD2CF;
    border-color: #A2B5BB;
}

#reset:hover {
    background-color: #CFD2CF;
    color: #EB1D36;
    border-color: #EB1D36;
}

.user {
    background-color: #CFD2CF;
    float: left;
    width: 45%;
    border: 5px solid;
    border-color: #A2B5BB;
}

#user-img {
    width: 50%;
    height: 40%;
}

.computer {
    background-color: #CFD2CF;
    float: right;
    width: 45%;
    border: 5px solid;
    border-color: #A2B5BB;
}

#comp-img {
    width: 50%;
    height: 40%;
}

#message {
    height: 20px;
}

@media screen and (max-width: 450px) {
    .user, .computer {
        font-size: 65%;
    }

}